.login {
	box-sizing: border-box;
	background-color: white;
	width: 300px;
	margin: 7rem auto;
	padding: 2rem;
	&__icon {
		font-size: 5rem;
	}
	&__form {
		&--wrapper {
			display: flex;
			flex-direction: column;
			text-align: left;
			margin-bottom: 1rem;
			& label {
				font-weight: bold;
			}
			& input {
				padding: 5px;
				font-size: 1.2rem;
			}
		}
		&--remember {
			display: flex;
			& label {
				margin-left: 0.25rem;
			}
		}
	}
}
