.button {
	display: block;
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	border-color: #00bc77;
	background-color: #00bc77;
	color: #fff;
	cursor: pointer;
	white-space: nowrap;
}

.buttonRound {
	border-radius: 10%;
	border-start-end-radius: 7%;
	border-start-start-radius: 7%;
	border-end-end-radius: 7%;
	border-end-start-radius: 7%;
	width: 50%;
	align-self: center;
}
