.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 2rem;
	height: 4rem;
	&__logo {
		display: flex;
		align-items: center;
		font-weight: bold;
		color: #2c3e50;
		margin-right: 0.5rem;
		&--link:hover {
			text-decoration: underline;
		}
		&--image {
			max-width: 100%;
			width: 200px;
		}
		&--title {
			border: 0;
			clip: rect(1px, 1px, 1px, 1px);
			-webkit-clip-path: inset(50%);
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			white-space: nowrap;
		}
	}
}
